backend/n8n/spokes/document_analysis.json
{
  "name": "FamilIA - C1 Document Analysis",
  "nodes": [
    {
      "parameters": {},
      "id": "20722fea-371c-4342-b21a-6d3cd06fe72d",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -736,
        112
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -608,
        320
      ],
      "id": "a2bff866-92a4-4ac6-99a4-e06c845d68e7",
      "name": "Gemini 3.1 Flash Lite",
      "credentials": {
        "googlePalmApi": {
          "id": "6gsgL86eJ7F1cTAX",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.output.risk_score }}",
              "operation": "largerEqual",
              "value2": 50
            }
          ]
        }
      },
      "id": "9191d496-9954-483e-8749-66571e58539e",
      "name": "Is Scam?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -224,
        112
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "status",
              "value": "success",
              "type": "string"
            },
            {
              "name": "spoke",
              "value": "SCAM_DETECTION",
              "type": "string"
            },
            {
              "name": "texto_extraido",
              "value": "={{ $('AI Agent').item.json.output.extracted_text }}",
              "type": "string"
            },
            {
              "name": "evaluation.risk_score",
              "value": "={{ $('AI Agent').item.json.output.risk_score }}",
              "type": "number"
            },
            {
              "name": "evaluation.risk_level",
              "value": "={{ $('AI Agent').item.json.output.risk_score >= 75 ? 'ALTO' : ($('AI Agent').item.json.output.risk_score >= 40 ? 'MEDIO' : 'BAJO') }}",
              "type": "string"
            },
            {
              "name": "evaluation.brief_explanation",
              "value": "={{ $('AI Agent').item.json.output.brief_explanation }}",
              "type": "string"
            },
            {
              "name": "evaluation.user_defense_guidance",
              "value": "={{ $('AI Agent').item.json.output.user_defense_guidance }}",
              "type": "string"
            },
            {
              "name": "evaluation.coercion_tactics",
              "value": "={{ $('AI Agent').item.json.output.coercion_tactics }}",
              "type": "any"
            }
          ]
        },
        "options": {}
      },
      "id": "875699bb-0d5f-48d8-85f6-589a1367ca65",
      "name": "Scam Mapping",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Analyze the attached bank document image and populate the structured JSON schema based on its content.",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {
          "systemMessage": "You are an expert cognitive security analyst and financial assistant specialized in protecting elderly users from financial abuse, fraud, and social engineering. Your task is to inspect the provided image of a bank letter, statement, or fee notification.\n\nStrictly perform this single-shot analysis:\n1. Text Extraction: Extract all literal text to 'extracted_text'.\n2. Scam Risk Assessment: Evaluate the text for artificial urgency, threats, sensitive data requests, or impersonation. Assign a 'risk_score' (0-100). Identify specific 'coercion_tactics' (array of strings in Spanish, e.g., 'Urgencia temporal').\n3. If risk_score < 50: Write 'easy_explanation' in Spanish (2-3 simple sentences for an 80+ year old explaining the notice without jargon). Leave scam-related explanation fields as empty strings.\n4. If risk_score >= 50: Write a 'brief_explanation' (neutral summary in Spanish for the family audit log) and 'user_defense_guidance' (short, calm, non-technical instructions for the elderly user in Spanish). Leave 'easy_explanation' as an empty string."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -528,
        112
      ],
      "id": "d43893d4-c588-4af3-9736-9b943e29cb89",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -480,
        320
      ],
      "id": "a22cdf11-0744-40ad-af1b-8e2114b5ed5a",
      "name": "Gemini 2.5 Flash Lite",
      "credentials": {
        "googlePalmApi": {
          "id": "6gsgL86eJ7F1cTAX",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "status",
              "value": "success",
              "type": "string",
              "id": "fe9ea795-d472-4290-8321-3c3dfe5087ed"
            },
            {
              "name": "spoke",
              "value": "C1_DOCUMENT",
              "type": "string",
              "id": "3bc6b047-6b45-41be-9b30-40bd62c5bab7"
            },
            {
              "name": "easy_explanation",
              "value": "={{ $json.output.easy_explanation }}",
              "type": "string",
              "id": "904bab10-1d22-422f-82e5-713db165137c"
            }
          ]
        },
        "options": {}
      },
      "id": "72dced30-1829-49e3-8664-981c2b799b2b",
      "name": "Healthy Document Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        208
      ]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"extracted_text\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"risk_score\": {\n\t\t\t\"type\": \"integer\",\n\t\t\t\"minimum\": 0,\n\t\t\t\"maximum\": 100\n\t\t},\n\t\t\"easy_explanation\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"brief_explanation\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"user_defense_guidance\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"coercion_tactics\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"string\"\n\t\t\t}\n\t\t}\n\t},\n\t\"required\": [\n\t\t\"extracted_text\",\n\t\t\"risk_score\",\n\t\t\"easy_explanation\",\n\t\t\"brief_explanation\",\n\t\t\"user_defense_guidance\",\n\t\t\"coercion_tactics\"\n\t]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -336,
        352
      ],
      "id": "8c7f45be-4c02-403c-a91c-3cfea6783db2",
      "name": "Structured Output"
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 3.1 Flash Lite": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Is Scam?": {
      "main": [
        [
          {
            "node": "Scam Mapping",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Healthy Document Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Is Scam?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 2.5 Flash Lite": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Structured Output": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "3d296861-6299-4bd8-af1b-f6429abff910",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7eca2c52f524e916128cc549fa93e46a6782d1578febc66989b43ed0d9c3629f"
  },
  "id": "8TY5eVGiuKfdAGHv",
  "tags": []
}