backend/n8n/spokes/interface.json
{
  "nodes": [
    {
      "parameters": {},
      "id": "e5c25790-e2a7-4b97-98ad-952a4bdb990a",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        2896,
        384
      ]
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/bbva_manual_en.md",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        3120,
        576
      ],
      "id": "df22e7a8-43a4-483a-9070-85ec06423aad",
      "name": "Read UX Manual"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "55cc4637-0a43-4b6f-b78e-22e3a589b5b0",
      "name": "Extract From File",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        3328,
        576
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        3536,
        384
      ],
      "id": "54500bd7-0976-4c4f-a4e6-71d19cea98c4",
      "name": "Merge Streams"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Evaluate the user's interface confusion query: {{ $json.text }}",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {
          "systemMessage": "=You are an expert user interface accessibility engine, cognitive companion, and senior UX analyst specialized in protecting and guiding elderly users through digital interfaces. Your objective is to cross-reference an incoming screenshot image of a user's phone application with a structured application manual to find the absolute next navigation step.\n\nInjected Invariant UX Design Guidelines and Manual Application Flows:\n--------------------------------------------------\n{{ $json.manual_content }}\n--------------------------------------------------\n\nStrictly perform this operational single-shot analysis:\n1. Multimodal Interface Mapping: Inspect the visual components, layout geometry, header markers, and bounding indicators present on the natively attached image screenshot binary. Identify exactly which app interface and screen state the user is currently looking at based on the provided UX Manual text.\n2. Trace Operational Navigation Path: Read the user's natural language or voice transcript inquiry to isolate their goal (e.g., trying to execute a transfer, check historical records, dismiss a prompt). Determine the precise button flow sequence outlined in the manual text required to move from the user's current visual state to that target destination.\n3. Formulate Immediate Next Physical Step: Isolate ONLY the absolute immediate next physical action the user must execute. Do not provide a list of 4 or 5 steps; specify only the single immediate tap required to advance safely.\n4. Apply Advanced Elder-Accessibility Language Filters: Translate that next target action into an exceptionally patient, warm, plain Spanish instruction tailored for an 80+ year old user experiencing severe layout friction or technical anxiety.\n   - Critically Prohibit all forms of technical interaction vectors, design system nomenclature, or digital jargon. Never use terms like: 'hamburger menu', 'profile settings tier', 'input text field', 'dropdown panel', 'tab bar', 'navigation link', 'UI element', or 'sidebar'.\n   - Substitute design terminology entirely with concrete physical location vectors, structural color descriptions, or basic geometric shapes (e.g., use 'el botón de las tres rayitas horizontales que tienes arriba a la izquierda', 'el recuadro blanco alargado del centro para poner los números del dinero', 'el dibujo de la persona metida en un círculo arriba a la derecha', 'el botón grande de color azul con la palabra Continuar')."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        3776,
        384
      ],
      "id": "b3f56795-1b3f-4427-887c-22a99189f4ad",
      "name": "C2 Navigation Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite",
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        3664,
        608
      ],
      "id": "591d74a9-0bb9-4b82-a059-a2fecbe78daa",
      "name": "Gemini 3.1 Flash Lite",
      "credentials": {
        "googlePalmApi": {
          "id": "QzxmHwaWUUgkEiKe",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        3808,
        608
      ],
      "id": "686799a1-1d2c-4a0a-8938-1bc074bc94c7",
      "name": "Gemini 2.5 Flash Lite",
      "credentials": {
        "googlePalmApi": {
          "id": "QzxmHwaWUUgkEiKe",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"detected_bank\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"description\": \"The formal commercial name of the financial application identified from the screenshot layout tracking.\"\n\t\t},\n\t\t\"elderly_guidance_es\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"description\": \"Hyper-simplified step-by-step guidance block written entirely in warm Spanish without design jargon or technical interface vocabulary.\"\n\t\t},\n\t\t\"visual_target_anchor\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"description\": \"The direct exact literal text label or functional descriptor of the screen element they need to interact with immediately.\"\n\t\t}\n\t},\n\t\"required\": [\n\t\t\"detected_bank\",\n\t\t\"elderly_guidance_es\",\n\t\t\"visual_target_anchor\"\n\t]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        3968,
        608
      ],
      "id": "e928271b-7f78-4394-a010-1c5641fbfbf9",
      "name": "C2 Interface Schema Parser"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d135be34-dcd7-40fa-ba41-0bbde29dcb29",
              "name": "status",
              "value": "success",
              "type": "string"
            },
            {
              "id": "c47bf2da-a57c-47be-b7dd-a5bfdfcfa9b5",
              "name": "spoke",
              "value": "C2_INTERFACE",
              "type": "string"
            },
            {
              "id": "f89d31ac-47a8-4bbd-9fd1-90a6125bdfa9",
              "name": "detected_bank",
              "value": "={{ $json.output.detected_bank }}",
              "type": "string"
            },
            {
              "id": "fa2e3cb9-a1d2-43bb-bb2e-4cfdfda8e25a",
              "name": "elderly_guidance_es",
              "value": "={{ $json.output.elderly_guidance_es }}",
              "type": "string"
            },
            {
              "id": "e4ba3cda-5e7a-442a-a92c-e1bcbcda7bf1",
              "name": "visual_target_anchor",
              "value": "={{ $json.output.visual_target_anchor }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4176,
        384
      ],
      "id": "15962dc4-b0e4-4c85-8e62-a32f96ad5e8f",
      "name": "Structure Final Response"
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Merge Streams",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read UX Manual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read UX Manual": {
      "main": [
        [
          {
            "node": "Extract From File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract From File": {
      "main": [
        [
          {
            "node": "Merge Streams",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Streams": {
      "main": [
        [
          {
            "node": "C2 Navigation Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "C2 Navigation Agent": {
      "main": [
        [
          {
            "node": "Structure Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 3.1 Flash Lite": {
      "ai_languageModel": [
        [
          {
            "node": "C2 Navigation Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 2.5 Flash Lite": {
      "ai_languageModel": [
        [
          {
            "node": "C2 Navigation Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "C2 Interface Schema Parser": {
      "ai_outputParser": [
        [
          {
            "node": "C2 Navigation Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "7eca2c52f524e916128cc549fa93e46a6782d1578febc66989b43ed0d9c3629f"
  }
}