backend/n8n/spokes/management.json
{
  "name": "FamilIA - C4 Gestión Financiera",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "user_id"
            },
            {
              "name": "message"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -368,
        -32
      ],
      "id": "5f680fd0-f7a6-412c-a6ac-c189ee4aa58c",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "33b4fa00-41ef-4e86-9267-d878ebcad9d1",
              "name": "user_id",
              "value": "={{ $json.user_id || \"U001\" }}",
              "type": "string"
            },
            {
              "id": "fba7fc78-4a5e-4970-bc92-d87a26caa30c",
              "name": "message",
              "value": "={{ $json.message || \"¿Me ha llegado la pensión?\" }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -160,
        -32
      ],
      "id": "11a307f2-eb94-40d4-8a0b-854c04262221",
      "name": "Normalize Input"
    },
    {
      "parameters": {
        "jsCode": "const userId = $json.user_id || \"U001\";\nconst message = ($json.message || \"\").toLowerCase();\n\n// Dataset reducido de prueba para Carmen\nconst transactions = [\n  {\n    transaction_id: \"T001\",\n    user_id: \"U001\",\n    date: \"2026-01-01\",\n    description: \"Pensión Seguridad Social\",\n    merchant: \"Seguridad Social\",\n    amount: 980,\n    category: \"pension\",\n    balance_after: 2430\n  },\n  {\n    transaction_id: \"T002\",\n    user_id: \"U001\",\n    date: \"2026-01-03\",\n    description: \"Farmacia Central\",\n    merchant: \"Farmacia Central\",\n    amount: -18.5,\n    category: \"farmacia\",\n    balance_after: 2411.5\n  },\n  {\n    transaction_id: \"T003\",\n    user_id: \"U001\",\n    date: \"2026-01-05\",\n    description: \"Supermercado\",\n    merchant: \"Mercadona\",\n    amount: -42.3,\n    category: \"supermercado\",\n    balance_after: 2369.2\n  },\n  {\n    transaction_id: \"T004\",\n    user_id: \"U001\",\n    date: \"2026-01-07\",\n    description: \"Recibo luz\",\n    merchant: \"Endesa\",\n    amount: -64.8,\n    category: \"luz\",\n    balance_after: 2304.4\n  },\n  {\n    transaction_id: \"T005\",\n    user_id: \"U001\",\n    date: \"2026-01-10\",\n    description: \"Comisión mantenimiento\",\n    merchant: \"Banco\",\n    amount: -15,\n    category: \"comision\",\n    balance_after: 2289.4\n  }\n];\n\nconst userTransactions = transactions.filter(t => t.user_id === userId);\n\nlet answer = \"\";\nlet intent_detected = \"\";\nlet source_records = [];\n\nif (message.includes(\"pensión\") || message.includes(\"pension\")) {\n  intent_detected = \"consulta_pension\";\n  const pension = userTransactions.find(t => t.category === \"pension\");\n\n  if (pension) {\n    answer = `Sí, Carmen. La pensión aparece registrada el ${pension.date} por un importe de ${pension.amount} euros.`;\n    source_records = [pension.transaction_id];\n  } else {\n    answer = \"No he encontrado ningún ingreso de pensión en los movimientos disponibles.\";\n  }\n\n} else if (message.includes(\"farmacia\")) {\n  intent_detected = \"consulta_gasto_farmacia\";\n  const farmacia = userTransactions.filter(t => t.category === \"farmacia\");\n  const total = farmacia.reduce((sum, t) => sum + Math.abs(t.amount), 0);\n\n  answer = `Carmen, según los movimientos disponibles, has gastado ${total.toFixed(2)} euros en farmacia.`;\n  source_records = farmacia.map(t => t.transaction_id);\n\n} else if (message.includes(\"saldo\")) {\n  intent_detected = \"consulta_saldo\";\n  const lastTransaction = userTransactions[userTransactions.length - 1];\n\n  answer = `Carmen, el último saldo disponible es de ${lastTransaction.balance_after.toFixed(2)} euros.`;\n  source_records = [lastTransaction.transaction_id];\n\n} else {\n  intent_detected = \"consulta_no_reconocida\";\n  answer = \"Puedo ayudarte a consultar la pensión, el saldo o gastos como farmacia. Prueba con una de esas preguntas.\";\n}\n\nreturn [\n  {\n    json: {\n      user_id: userId,\n      original_message: message,\n      intent_detected,\n      answer,\n      source_records,\n      numeric_data_from_dataset: true,\n      module: \"C4_GESTION_FINANCIERA_MOCK\"\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        -32
      ],
      "id": "5bfee53f-34c0-4c60-92c2-4dfdb978d38d",
      "name": "Financial Logic Mock"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "user_id": "U001",
          "message": "¿Cuál es mi saldo?"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Financial Logic Mock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "acac5035-4fc8-4811-b919-3ec93a74e82a",
  "meta": {
    "instanceId": "7eca2c52f524e916128cc549fa93e46a6782d1578febc66989b43ed0d9c3629f"
  },
  "id": "eCsQnkaS70Scimg0",
  "tags": []
}