backend/n8n/spokes/management.json
{
  "name": "FamilIA - C4 Gestión Financiera",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "user_id"
            },
            {
              "name": "message"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -368,
        -32
      ],
      "id": "5f680fd0-f7a6-412c-a6ac-c189ee4aa58c",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "33b4fa00-41ef-4e86-9267-d878ebcad9d1",
              "name": "user_id",
              "value": "={{ $json.user_id || \"U001\" }}",
              "type": "string"
            },
            {
              "id": "fba7fc78-4a5e-4970-bc92-d87a26caa30c",
              "name": "message",
              "value": "={{ $json.message || \"¿Me ha llegado la pensión?\" }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -160,
        -32
      ],
      "id": "11a307f2-eb94-40d4-8a0b-854c04262221",
      "name": "Normalize Input"
    },
    {
      "parameters": {
        "jsCode": "const userId = $json.user_id || \"U001\";\nconst originalMessage = $json.message || \"\";\nconst message = originalMessage.toLowerCase();\n\n// Dataset reducido de prueba para Carmen.\n// Más adelante esta parte se sustituirá por lectura del dataset completo.\nconst transactions = [\n  {\n    transaction_id: \"T001\",\n    user_id: \"U001\",\n    date: \"2026-01-01\",\n    description: \"Pensión Seguridad Social\",\n    merchant: \"Seguridad Social\",\n    amount: 980,\n    category: \"pension\",\n    balance_after: 2430\n  },\n  {\n    transaction_id: \"T002\",\n    user_id: \"U001\",\n    date: \"2026-01-03\",\n    description: \"Farmacia Central\",\n    merchant: \"Farmacia Central\",\n    amount: -18.5,\n    category: \"farmacia\",\n    balance_after: 2411.5\n  },\n  {\n    transaction_id: \"T003\",\n    user_id: \"U001\",\n    date: \"2026-01-05\",\n    description: \"Supermercado Mercadona\",\n    merchant: \"Mercadona\",\n    amount: -42.3,\n    category: \"supermercado\",\n    balance_after: 2369.2\n  },\n  {\n    transaction_id: \"T004\",\n    user_id: \"U001\",\n    date: \"2026-01-07\",\n    description: \"Recibo luz\",\n    merchant: \"Endesa\",\n    amount: -64.8,\n    category: \"luz\",\n    balance_after: 2304.4\n  },\n  {\n    transaction_id: \"T005\",\n    user_id: \"U001\",\n    date: \"2026-01-10\",\n    description: \"Comisión mantenimiento\",\n    merchant: \"Banco\",\n    amount: -15,\n    category: \"comision\",\n    balance_after: 2289.4\n  },\n  {\n    transaction_id: \"T006\",\n    user_id: \"U001\",\n    date: \"2026-01-12\",\n    description: \"Supermercado Mercadona\",\n    merchant: \"Mercadona\",\n    amount: -36.9,\n    category: \"supermercado\",\n    balance_after: 2252.5\n  },\n  {\n    transaction_id: \"T007\",\n    user_id: \"U001\",\n    date: \"2026-01-15\",\n    description: \"Farmacia Central\",\n    merchant: \"Farmacia Central\",\n    amount: -12.75,\n    category: \"farmacia\",\n    balance_after: 2239.75\n  },\n  {\n    transaction_id: \"T008\",\n    user_id: \"U001\",\n    date: \"2026-01-18\",\n    description: \"Retirada cajero\",\n    merchant: \"Cajero Banco\",\n    amount: -50,\n    category: \"retirada_efectivo\",\n    balance_after: 2189.75\n  },\n  {\n    transaction_id: \"T009\",\n    user_id: \"U001\",\n    date: \"2026-01-20\",\n    description: \"Recibo teléfono\",\n    merchant: \"Movistar\",\n    amount: -29.9,\n    category: \"telefono\",\n    balance_after: 2159.85\n  },\n  {\n    transaction_id: \"T010\",\n    user_id: \"U001\",\n    date: \"2026-01-22\",\n    description: \"Farmacia Central\",\n    merchant: \"Farmacia Central\",\n    amount: -12.75,\n    category: \"farmacia\",\n    balance_after: 2147.1\n  },\n  {\n    transaction_id: \"T011\",\n    user_id: \"U001\",\n    date: \"2026-01-22\",\n    description: \"Farmacia Central\",\n    merchant: \"Farmacia Central\",\n    amount: -12.75,\n    category: \"farmacia\",\n    balance_after: 2134.35,\n    anomaly_type: \"duplicado\"\n  },\n  {\n    transaction_id: \"T012\",\n    user_id: \"U001\",\n    date: \"2026-01-25\",\n    description: \"Comisión extraordinaria\",\n    merchant: \"Banco\",\n    amount: -39,\n    category: \"comision\",\n    balance_after: 2095.35,\n    anomaly_type: \"comision_inusual\"\n  }\n];\n\nconst userTransactions = transactions.filter(t => t.user_id === userId);\n\nlet answer = \"\";\nlet intent_detected = \"\";\nlet source_records = [];\nlet calculation = null;\nlet alert = false;\nlet alert_type = null;\n\n// Función auxiliar para sumar gastos por categoría\nfunction totalByCategory(category) {\n  const records = userTransactions.filter(t => t.category === category);\n  const total = records.reduce((sum, t) => sum + Math.abs(t.amount), 0);\n\n  return {\n    records,\n    total\n  };\n}\n\n// 1. Consulta de pensión\nif (message.includes(\"pensión\") || message.includes(\"pension\")) {\n  intent_detected = \"consulta_pension\";\n\n  const pension = userTransactions.find(t => t.category === \"pension\");\n\n  if (pension) {\n    answer = `Sí, Carmen. La pensión aparece registrada el ${pension.date} por un importe de ${pension.amount} euros.`;\n    source_records = [pension.transaction_id];\n    calculation = {\n      type: \"single_record_lookup\",\n      amount: pension.amount\n    };\n  } else {\n    answer = \"No he encontrado ningún ingreso de pensión en los movimientos disponibles.\";\n  }\n\n// 2. Consulta de farmacia\n} else if (message.includes(\"farmacia\") || message.includes(\"medicina\") || message.includes(\"medicamentos\")) {\n  intent_detected = \"consulta_gasto_farmacia\";\n\n  const result = totalByCategory(\"farmacia\");\n  answer = `Carmen, según los movimientos disponibles, has gastado ${result.total.toFixed(2)} euros en farmacia.`;\n  source_records = result.records.map(t => t.transaction_id);\n  calculation = {\n    type: \"category_sum\",\n    category: \"farmacia\",\n    total: Number(result.total.toFixed(2))\n  };\n\n// 3. Consulta de supermercado\n} else if (message.includes(\"supermercado\") || message.includes(\"compra\") || message.includes(\"mercadona\")) {\n  intent_detected = \"consulta_gasto_supermercado\";\n\n  const result = totalByCategory(\"supermercado\");\n  answer = `Carmen, según los movimientos disponibles, has gastado ${result.total.toFixed(2)} euros en supermercado.`;\n  source_records = result.records.map(t => t.transaction_id);\n  calculation = {\n    type: \"category_sum\",\n    category: \"supermercado\",\n    total: Number(result.total.toFixed(2))\n  };\n\n// 4. Consulta de luz / recibos\n} else if (message.includes(\"luz\") || message.includes(\"endesa\") || message.includes(\"recibo\")) {\n  intent_detected = \"consulta_recibo_luz\";\n\n  const result = totalByCategory(\"luz\");\n  answer = `Carmen, el recibo de luz disponible en los movimientos es de ${result.total.toFixed(2)} euros.`;\n  source_records = result.records.map(t => t.transaction_id);\n  calculation = {\n    type: \"category_sum\",\n    category: \"luz\",\n    total: Number(result.total.toFixed(2))\n  };\n\n// 5. Consulta de comisiones\n} else if (message.includes(\"comisión\") || message.includes(\"comision\") || message.includes(\"comisiones\")) {\n  intent_detected = \"consulta_comisiones\";\n\n  const result = totalByCategory(\"comision\");\n  const unusualCommissions = result.records.filter(t => t.anomaly_type === \"comision_inusual\");\n\n  if (unusualCommissions.length > 0) {\n    alert = true;\n    alert_type = \"comision_inusual\";\n    answer = `Carmen, he encontrado comisiones por un total de ${result.total.toFixed(2)} euros. Además, hay una comisión inusual de ${Math.abs(unusualCommissions[0].amount).toFixed(2)} euros que convendría revisar.`;\n  } else {\n    answer = `Carmen, he encontrado comisiones por un total de ${result.total.toFixed(2)} euros.`;\n  }\n\n  source_records = result.records.map(t => t.transaction_id);\n  calculation = {\n    type: \"category_sum\",\n    category: \"comision\",\n    total: Number(result.total.toFixed(2))\n  };\n\n// 6. Consulta de saldo\n} else if (message.includes(\"saldo\") || message.includes(\"dinero\") || message.includes(\"cuánto tengo\") || message.includes(\"cuanto tengo\")) {\n  intent_detected = \"consulta_saldo\";\n\n  const lastTransaction = userTransactions[userTransactions.length - 1];\n\n  answer = `Carmen, el último saldo disponible es de ${lastTransaction.balance_after.toFixed(2)} euros.`;\n  source_records = [lastTransaction.transaction_id];\n  calculation = {\n    type: \"last_balance\",\n    balance_after: Number(lastTransaction.balance_after.toFixed(2))\n  };\n\n// 7. Detección de duplicados\n} else if (message.includes(\"duplicado\") || message.includes(\"cobrado dos veces\") || message.includes(\"dos veces\")) {\n  intent_detected = \"consulta_cargo_duplicado\";\n\n  const duplicates = userTransactions.filter(t => t.anomaly_type === \"duplicado\");\n\n  if (duplicates.length > 0) {\n    alert = true;\n    alert_type = \"cargo_duplicado\";\n    answer = `Carmen, he detectado un posible cargo duplicado en ${duplicates[0].merchant} por ${Math.abs(duplicates[0].amount).toFixed(2)} euros. Conviene revisarlo antes de asumir que es correcto.`;\n    source_records = duplicates.map(t => t.transaction_id);\n    calculation = {\n      type: \"anomaly_detection\",\n      anomaly_type: \"duplicado\",\n      count: duplicates.length\n    };\n  } else {\n    answer = \"No he encontrado cargos duplicados en los movimientos disponibles.\";\n    calculation = {\n      type: \"anomaly_detection\",\n      anomaly_type: \"duplicado\",\n      count: 0\n    };\n  }\n\n// 8. Fallback\n} else {\n  intent_detected = \"consulta_no_reconocida\";\n  answer = \"Puedo ayudarte a consultar la pensión, el saldo, gastos de farmacia, supermercado, recibos de luz, comisiones o posibles cargos duplicados.\";\n}\n\nreturn [\n  {\n    json: {\n      user_id: userId,\n      original_message: originalMessage,\n      intent_detected,\n      answer,\n      source_records,\n      calculation,\n      alert,\n      alert_type,\n      numeric_data_from_dataset: true,\n      module: \"C4_GESTION_FINANCIERA_INTERMEDIA\"\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        -32
      ],
      "id": "5bfee53f-34c0-4c60-92c2-4dfdb978d38d",
      "name": "Financial Logic Mock"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "user_id": "U001",
          "message": "¿Tengo algún cargo duplicado?"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Financial Logic Mock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "72d55201-3399-4841-b5f0-59754174bb4e",
  "meta": {
    "instanceId": "7eca2c52f524e916128cc549fa93e46a6782d1578febc66989b43ed0d9c3629f"
  },
  "id": "eCsQnkaS70Scimg0",
  "tags": []
}