backend/n8n/spokes/scam.json
{
  "name": "FamilIA - C3 Scam",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "262ae787-2ebd-4f07-915e-f62bddee42cb",
              "name": "status",
              "value": "success",
              "type": "string"
            },
            {
              "id": "b298d944-0871-4595-9a06-7ec6f8514f02",
              "name": "spoke",
              "value": "SCAM_DETECTION",
              "type": "string"
            },
            {
              "id": "2eca1f5e-fac4-4eb9-bd48-654e7690a651",
              "name": "=evaluation.risk_score",
              "value": "={{ $json.output.risk_score }}",
              "type": "number"
            },
            {
              "id": "c7a809fd-a759-4abc-95c6-524f7bbf708d",
              "name": "=evaluation.risk_level",
              "value": "={{ $json.output.risk_score >= 75 ? 'ALTO' : ($json.output.risk_score >= 40 ? 'MEDIO' : 'BAJO') }}",
              "type": "string"
            },
            {
              "id": "52cf2250-e5a1-4fc6-9f78-752b0163e28b",
              "name": "=evaluation.brief_explanation",
              "value": "={{ $json.output.brief_explanation }}",
              "type": "string"
            },
            {
              "id": "2b2186ff-24d2-468a-8dc1-181151d81a4e",
              "name": "=evaluation.user_defense_guidance",
              "value": "={{ $json.output.user_defense_guidance }}",
              "type": "string"
            },
            {
              "id": "a298ceea-dc20-4b8a-9a7e-41dbd44a8088",
              "name": "evaluation.coercion_tactics",
              "value": "={{ $json.output.coercion_tactics }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        0
      ],
      "id": "8cc8713a-3f7d-474c-bdbd-25b40e88cd5e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"risk_score\": {\n\t\t\t\"type\": \"integer\",\n\t\t\t\"minimum\": 0,\n\t\t\t\"maximum\": 100\n\t\t},\n\t\t\"brief_explanation\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"user_defense_guidance\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"coercion_tactics\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"string\"\n\t\t\t}\n\t\t}\n\t},\n\t\"required\": [\n\t\t\"risk_score\",\n\t\t\"brief_explanation\",\n\t\t\"user_defense_guidance\",\n\t\t\"coercion_tactics\"\n\t]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        352,
        208
      ],
      "id": "86ea21fe-065a-4eec-b5d9-0566a59bffdd",
      "name": "Scam Output Schema"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Evaluate the following text for potential security scams or coercion tactics: {{ $json.text }}",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {
          "systemMessage": "Actúa como un asistente de seguridad para personas mayores. Tu tarea es analizar el texto recibido y detectar posibles señales de estafa, presión o manipulación.\n\nDebes devolver siempre una respuesta breve, clara y tranquila en español.\n\nNo digas que has bloqueado una operación, cancelado un pago, avisado al banco, llamado a un familiar, denunciado nada ni protegido la cuenta automáticamente. La app solo puede analizar el mensaje y dar una recomendación.\n\nSi detectas riesgo, recomienda acciones simples que el usuario sí puede hacer:\n- No pagar ni hacer transferencias.\n- No dar códigos, claves, contraseñas ni datos bancarios.\n- No pulsar enlaces sospechosos.\n- Colgar o dejar de responder.\n- Contactar con la entidad correspondiente usando un canal oficial: banco, compañía eléctrica, empresa de mensajería, administración pública u otra entidad real.\n- Usar siempre un número oficial buscado por el usuario o que aparezca en una factura anterior fiable, tarjeta bancaria, contrato o web oficial. No usar el teléfono ni el enlace que venga en el mensaje sospechoso.\n- Preguntar a un familiar o persona de confianza.\n\nSi no detectas riesgo claro, indica que no hay señales graves, pero recomienda prudencia.\n\nEl campo user_defense_guidance debe ser corto, calmado y accionable. Máximo 2 frases.\n\nEl campo brief_explanation debe explicar el motivo en una sola frase.\n\nEl campo coercion_tactics debe ser una lista breve de tácticas detectadas. Si no hay tácticas claras, usa [\"Sin señales claras de coerción\"].\n\nNo uses lenguaje alarmista. No generes respuestas largas. No incluyas información fuera del JSON."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "55177d42-0d08-40cb-abba-84d2d4d1abe0",
      "name": "NLP Coercion Scorer"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "047719de-3365-4423-93a0-2dddbb4d9330",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        32,
        240
      ],
      "id": "60ce3b94-1f3f-4c7c-96d6-df875681d5ca",
      "name": "Gemini 3.1 Flash Lite",
      "credentials": {
        "googlePalmApi": {
          "id": "6gsgL86eJ7F1cTAX",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        208,
        288
      ],
      "id": "c07ec6d2-c4f0-4092-abea-f4d5ac56b238",
      "name": "Gemini 2.5 Flash Lite",
      "credentials": {
        "googlePalmApi": {
          "id": "6gsgL86eJ7F1cTAX",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Scam Output Schema": {
      "ai_outputParser": [
        [
          {
            "node": "NLP Coercion Scorer",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "NLP Coercion Scorer": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "NLP Coercion Scorer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 3.1 Flash Lite": {
      "ai_languageModel": [
        [
          {
            "node": "NLP Coercion Scorer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 2.5 Flash Lite": {
      "ai_languageModel": [
        [
          {
            "node": "NLP Coercion Scorer",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "dc8dfc25-8cf0-49d2-8d41-24b9cec78703",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7eca2c52f524e916128cc549fa93e46a6782d1578febc66989b43ed0d9c3629f"
  },
  "id": "vFx8dPCGAy2cryYI",
  "tags": []
}