backend/n8n/router/main_hub_with_c4_test.json
{
  "name": "FamilIA - Main Hub",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c92e60c4-c6e8-4e46-9685-15a72025d50a",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -368,
        128
      ],
      "id": "29255a51-c3c0-4c08-966e-6a3138173a03",
      "name": "Webhook",
      "webhookId": "c92e60c4-c6e8-4e46-9685-15a72025d50a"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/audio/transcriptions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "whisper-large-v3-turbo"
            },
            {
              "name": "language",
              "value": "es"
            },
            {
              "parameterType": "formBinaryData",
              "name": "=file",
              "inputDataFieldName": "audio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        0,
        0
      ],
      "id": "d5e799ad-832a-40d2-9d6f-ed08ca8ad023",
      "name": "HTTP Request (STT)"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Classify the following user transcript: {{ $json.text }}",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {
          "systemMessage": "You are the central intent router for FamilIA. Your sole responsibility is to analyze the provided user text and determine the financial or operational category requested by the elderly user.\n\nStrictly classify the intent into one of the following four domains under the \"category\" key:\n- DOCUMENT: Inquiries about physical bank letters, contractual changes, or printed fee notices.\n- INTERFACE: Navigation issues inside the banking app, confusion about which button to press, or UI queries.\n- SCAM: Reports of suspicious calls, alarming SMS, coercion, sense of urgency, or emergency protocol activation.\n- MANAGEMENT: Balance checks, pension status, monthly expense reviews, or cash wallet annotations."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        432,
        0
      ],
      "id": "31485b6d-beb0-4b6b-bad2-ea5984b3d70c",
      "name": "Router AI Agent"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"category\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"enum\": [\"DOCUMENT\", \"INTERFACE\", \"SCAM\", \"MANAGEMENT\"]\n\t\t}\n\t},\n\t\"required\": [\"category\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        352,
        224
      ],
      "id": "29f447bb-cfb1-4693-824c-ea7400f3ee0c",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.category }}",
                    "rightValue": "DOCUMENT",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "document"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.category }}",
                    "rightValue": "INTERFACE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "interface"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.category }}",
                    "rightValue": "MANAGEMENT",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "management"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.category }}",
                    "rightValue": "SCAM",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "scam"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        688,
        0
      ],
      "id": "62261f06-c12b-4e5d-8906-2330921562b9",
      "name": "Switch Intents"
    },
    {
      "parameters": {
        "workflowId": "oeDjuaP0lQKdJgdn",
        "options": {}
      },
      "id": "654bd65e-bf65-4554-abe2-299f40de075b",
      "name": "Call 'C1_Document' (Image)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        0,
        352
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $binary && $binary.audio ? true : false }}",
              "value2": true
            }
          ]
        }
      },
      "id": "b450d1b0-cd12-4e89-90da-3ec0dfaeda92",
      "name": "Audio file?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -208,
        128
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        144,
        224
      ],
      "id": "ac217d2f-fc7f-425b-bd5e-0061d0bb9fc3",
      "name": "Gemini 3.1 Flash Lite",
      "credentials": {
        "googlePalmApi": {
          "id": "6gsgL86eJ7F1cTAX",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        256,
        224
      ],
      "id": "1a767678-a63f-4acc-ab6e-5363251ff656",
      "name": "Gemini 2.5 Flash Lite",
      "credentials": {
        "googlePalmApi": {
          "id": "6gsgL86eJ7F1cTAX",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "eCsQnkaS70Scimg0",
          "mode": "list",
          "cachedResultUrl": "/workflow/eCsQnkaS70Scimg0",
          "cachedResultName": "FamilIA - C4 Gestión Financiera"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "U001",
            "text": "¿Me ha llegado la pensión?"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        896,
        96
      ],
      "id": "c858c1f9-885a-4e0a-9526-d17f37393839",
      "name": "Call 'C4 Management'"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "30bb34fe-3445-49f9-a963-be82fa01dc17",
              "leftValue": "={{ $json.body && $json.body.text ? $json.body.text : \"\" }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        0,
        128
      ],
      "id": "787d00e2-6d52-41cd-82de-cc462a99eef7",
      "name": "Text input?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "020bf701-2f8f-45f1-906e-6242b8e89893",
              "name": "user_id",
              "value": "={{ $json.body.user_id || \"U001\" }}",
              "type": "string"
            },
            {
              "id": "4831c3e8-3b0e-49d6-a750-e345a58228c5",
              "name": "text",
              "value": "={{ $json.body.text }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        368
      ],
      "id": "310bec69-f3a6-423f-b0f4-b33ee35957ee",
      "name": "Normalize text"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "text",
              "value": "={{ $if($('Normalize text').isExecuted, $('Normalize text').item.json.text, $if($('Normalize voice input').isExecuted, $('Normalize voice input').item.json.text, $json.text || $json.body?.text || \"\")) }}",
              "type": "string",
              "id": "930f56d6-b0f8-4e3f-a6be-3fe3799a3586"
            },
            {
              "id": "7497f1bc-54f7-4ee1-9fe5-b5ad33ddc716",
              "name": "user_id",
              "value": "={{ $if($('Normalize text').isExecuted, $('Normalize text').item.json.user_id, $if($('Normalize voice input').isExecuted, $('Normalize voice input').item.json.user_id, $json.user_id || \"U001\")) }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        912,
        224
      ],
      "id": "a9a45ad0-ac73-4c58-8066-43ea5d219477",
      "name": "Prepare Scam Payload (Voice and Text)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "146f72ab-5157-421f-8e4c-0a1a770cdd72",
              "name": "user_id",
              "value": "={{ $json.user_id || $json.body?.user_id || \"U001\" }}",
              "type": "string"
            },
            {
              "id": "6f61ecae-cfcf-40e9-bebd-4a6837701973",
              "name": "text",
              "value": "={{ $json.text || $json.transcription || \"\" }}",
              "type": "string"
            },
            {
              "id": "8ab7af02-9b13-41ad-acba-86c3c8aedbe0",
              "name": "input_type",
              "value": "voice",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "8e3908b5-4bce-42ac-a093-3ee376100666",
      "name": "Normalize voice input"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "vFx8dPCGAy2cryYI",
          "mode": "list",
          "cachedResultUrl": "/workflow/vFx8dPCGAy2cryYI",
          "cachedResultName": "FamilIA - C3 Scam"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1120,
        224
      ],
      "id": "a614cc59-7411-481c-b507-b759db1eeb6f",
      "name": "Call 'Scam'"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Audio file?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request (STT)": {
      "main": [
        [
          {
            "node": "Normalize voice input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router AI Agent": {
      "main": [
        [
          {
            "node": "Switch Intents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Router AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Switch Intents": {
      "main": [
        [],
        [],
        [
          {
            "node": "Call 'C4 Management'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Scam Payload (Voice and Text)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio file?": {
      "main": [
        [
          {
            "node": "HTTP Request (STT)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Text input?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 3.1 Flash Lite": {
      "ai_languageModel": [
        [
          {
            "node": "Router AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 2.5 Flash Lite": {
      "ai_languageModel": [
        [
          {
            "node": "Router AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Text input?": {
      "main": [
        [
          {
            "node": "Normalize text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'C1_Document' (Image)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize text": {
      "main": [
        [
          {
            "node": "Router AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Scam Payload (Voice and Text)": {
      "main": [
        [
          {
            "node": "Call 'Scam'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize voice input": {
      "main": [
        [
          {
            "node": "Router AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "1ed1cf23-1192-4184-890c-edcb7b6aa54e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7eca2c52f524e916128cc549fa93e46a6782d1578febc66989b43ed0d9c3629f"
  },
  "id": "kYRyE7XxKz6iWmas",
  "tags": []
}