backend/n8n/router/main_hub.json
{
  "name": "FamilIA - Main Hub",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c92e60c4-c6e8-4e46-9685-15a72025d50a",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2048,
        432
      ],
      "id": "8f060e8c-fdc1-43dc-9bef-3078d48f3056",
      "name": "Webhook",
      "webhookId": "c92e60c4-c6e8-4e46-9685-15a72025d50a"
    },
    {
      "parameters": {
        "jsCode": "let textFromWebhook = '';\nlet textFromSTT = '';\nlet outBinary = {};\nlet userId = 'U001';\n\n// 1. Extract context from the root Webhook node\ntry {\n  const webhookNode = $('Webhook').first();\n  if (webhookNode) {\n    if (webhookNode.json?.body?.text) {\n      textFromWebhook = webhookNode.json.body.text;\n    }\n    if (webhookNode.json?.body?.user_id) {\n      userId = webhookNode.json.body.user_id;\n    }\n    \n    // CRITICAL: Only preserve the screenshot image for C2. \n    // Purge the audio file to restore the default text JSON view.\n    if (webhookNode.binary && webhookNode.binary.image) {\n      outBinary.image = webhookNode.binary.image;\n    }\n  }\n} catch (e) {}\n\n// 2. Extract transcription from the STT node (only if it executed)\ntry {\n  const incomingData = $input.first();\n  // Ensure we are reading the active STT output, not a bypassed webhook body\n  if (incomingData && incomingData.json && incomingData.json.text && !incomingData.json.body) {\n    textFromSTT = incomingData.json.text;\n  }\n} catch (e) {}\n\nconst combinedText = `${textFromWebhook} ${textFromSTT}`.trim();\n\n// 3. Structure the sanitized payload for downstream routers\nconst outJson = {\n  user_id: userId,\n  text: combinedText || \"Visual Request\"\n};\n\nreturn [{ json: outJson, binary: outBinary }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1488,
        240
      ],
      "id": "13c99326-a822-472c-9dcf-16b3ad18e883",
      "name": "Aggregate Data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/audio/transcriptions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "whisper-large-v3-turbo"
            },
            {
              "name": "language",
              "value": "es"
            },
            {
              "parameterType": "formBinaryData",
              "name": "=file",
              "inputDataFieldName": "audio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1728,
        224
      ],
      "id": "0d4fd625-a741-4f46-8c58-992ffc382ebd",
      "name": "HTTP Request (STT)",
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "Rjxa5yGyElFMiBo9",
          "name": "Multiple Headers Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Classify the following user input: {{ $json.text }}",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {
          "systemMessage": "You are the central intent router for FamilIA. Your sole responsibility is to analyze the provided user text, audio transcripts, AND any uploaded images/screenshots to determine the financial or operational category requested by the elderly user.\n\nStrictly classify the intent into one of the following four domains under the \"category\" key:\n- DOCUMENT: Inquiries about physical bank letters, contractual changes, screenshots of documents, or printed fee notices.\n- INTERFACE: Navigation issues inside the banking app, confusion about which button to press, screenshots showing UI confusion, or UI queries.\n- SCAM: Reports of suspicious calls, alarming SMS, coercion, sense of urgency, emergency protocol activation, or screenshots of text scams.\n- MANAGEMENT: Balance checks, pension status, monthly expense reviews, or cash wallet annotations."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1328,
        240
      ],
      "id": "efccf85c-3889-456d-b502-83ae74366013",
      "name": "Router AI Agent"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"category\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"enum\": [\"DOCUMENT\", \"INTERFACE\", \"SCAM\", \"MANAGEMENT\"]\n\t\t}\n\t},\n\t\"required\": [\"category\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1152,
        592
      ],
      "id": "804b1521-2051-4a2b-96e8-3bde5b3b60e7",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.category }}",
                    "rightValue": "DOCUMENT",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "document"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.category }}",
                    "rightValue": "INTERFACE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "interface"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.category }}",
                    "rightValue": "MANAGEMENT",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "management"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.category }}",
                    "rightValue": "SCAM",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "scam"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -992,
        304
      ],
      "id": "e1d70c09-19d4-4824-932c-eb81163deb96",
      "name": "Switch Intents"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $binary && $binary.audio ? true : false }}",
              "value2": true
            }
          ]
        }
      },
      "id": "b44780be-1c27-40f5-ba2d-8fb04dba2c1c",
      "name": "Audio file?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1888,
        432
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -1408,
        608
      ],
      "id": "90092a2f-db62-4557-b2d4-15dfa72c64bb",
      "name": "Gemini 3.1 Flash Lite",
      "credentials": {
        "googlePalmApi": {
          "id": "6gsgL86eJ7F1cTAX",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -1280,
        608
      ],
      "id": "8d8fdfe1-62ab-4e60-9e67-834d6054e783",
      "name": "Gemini 2.5 Flash Lite",
      "credentials": {
        "googlePalmApi": {
          "id": "6gsgL86eJ7F1cTAX",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const agg = $('Aggregate Data').first();\nreturn [{\n  json: {\n    user_id: agg.json.user_id,\n    text: agg.json.text\n  },\n  binary: agg.binary || {}\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -624,
        128
      ],
      "id": "8afd8559-53b8-4679-90eb-85c7949e513e",
      "name": "Prepare Document Payload"
    },
    {
      "parameters": {
        "jsCode": "const agg = $('Aggregate Data').first();\nreturn [{\n  json: {\n    user_id: agg.json.user_id,\n    text: agg.json.text\n  },\n  binary: agg.binary || {}\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -624,
        288
      ],
      "id": "7e83abe5-7309-46e8-9e06-d73e3ca70e47",
      "name": "Prepare Interface Payload"
    },
    {
      "parameters": {
        "jsCode": "const agg = $('Aggregate Data').first();\nreturn [{\n  json: {\n    user_id: agg.json.user_id,\n    text: agg.json.text\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -608,
        464
      ],
      "id": "2cebc925-8b2a-4c09-ac8d-727343f31d0d",
      "name": "Prepare Management Payload"
    },
    {
      "parameters": {
        "jsCode": "const agg = $('Aggregate Data').first();\nreturn [{\n  json: {\n    user_id: agg.json.user_id,\n    text: agg.json.text\n  },\n  binary: agg.binary || {}\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -608,
        640
      ],
      "id": "fd78ecbd-3378-4b62-a8d0-ff01a1370ecd",
      "name": "Prepare Scam Payload (Voice and Text)"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "eCsQnkaS70Scimg0",
          "mode": "list",
          "cachedResultUrl": "/workflow/eCsQnkaS70Scimg0",
          "cachedResultName": "FamilIA - C4 Gestión Financiera"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $json.user_id || \"U001\" }}",
            "text": "={{ $json.text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -16,
        352
      ],
      "id": "e557a382-172b-4fe6-ae74-2873e9f3168f",
      "name": "Call 'FamilIA - C4 Gestión Financiera'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "8TY5eVGiuKfdAGHv",
          "mode": "list",
          "cachedResultUrl": "/workflow/8TY5eVGiuKfdAGHv",
          "cachedResultName": "FamilIA - C1 Document Analysis"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "48f99f77-cd59-4832-a17d-cfd246303c24",
      "name": "Call 'FamilIA - C1 Document Analysis'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "vFx8dPCGAy2cryYI",
          "mode": "list",
          "cachedResultUrl": "/workflow/vFx8dPCGAy2cryYI",
          "cachedResultName": "FamilIA - C3 Scam"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        0,
        496
      ],
      "id": "89e63f5c-ebaa-4c8b-a772-612c7600cd86",
      "name": "Call 'FamilIA - C3 Scam'1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "9KQIKyj79zaJfvEs",
          "mode": "list",
          "cachedResultUrl": "/workflow/9KQIKyj79zaJfvEs",
          "cachedResultName": "FamilIA_Interface"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -16,
        176
      ],
      "id": "d9729860-9f1f-450e-bfe1-ebe1457597fb",
      "name": "Call 'FamilIA_Interface'"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Audio file?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Data": {
      "main": [
        [
          {
            "node": "Router AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request (STT)": {
      "main": [
        [
          {
            "node": "Aggregate Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router AI Agent": {
      "main": [
        [
          {
            "node": "Switch Intents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Router AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Switch Intents": {
      "main": [
        [
          {
            "node": "Prepare Document Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Interface Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Management Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Scam Payload (Voice and Text)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio file?": {
      "main": [
        [
          {
            "node": "HTTP Request (STT)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 3.1 Flash Lite": {
      "ai_languageModel": [
        [
          {
            "node": "Router AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 2.5 Flash Lite": {
      "ai_languageModel": [
        [
          {
            "node": "Router AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Prepare Document Payload": {
      "main": [
        [
          {
            "node": "Call 'FamilIA - C1 Document Analysis'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Interface Payload": {
      "main": [
        [
          {
            "node": "Call 'FamilIA_Interface'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Management Payload": {
      "main": [
        [
          {
            "node": "Call 'FamilIA - C4 Gestión Financiera'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Scam Payload (Voice and Text)": {
      "main": [
        [
          {
            "node": "Call 'FamilIA - C3 Scam'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "70142c61-1bf6-4c58-a4f5-eadd38dc9835",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7eca2c52f524e916128cc549fa93e46a6782d1578febc66989b43ed0d9c3629f"
  },
  "id": "kYRyE7XxKz6iWmas",
  "tags": []
}