backend/n8n/router/main_hub.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c92e60c4-c6e8-4e46-9685-15a72025d50a",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -736,
        1824
      ],
      "id": "2ffc6fd0-89da-4224-921f-b1f474ab0778",
      "name": "Webhook",
      "webhookId": "c92e60c4-c6e8-4e46-9685-15a72025d50a"
    },
    {
      "parameters": {
        "jsCode": "let textFromWebhook = '';\nlet textFromSTT = '';\nlet outBinary = {};\nlet userId = 'U001';\n\n// 1. Extract context from the root Webhook node\ntry {\n  const webhookNode = $('Webhook').first();\n  if (webhookNode) {\n    if (webhookNode.json?.body?.text) {\n      textFromWebhook = webhookNode.json.body.text;\n    }\n    if (webhookNode.json?.body?.user_id) {\n      userId = webhookNode.json.body.user_id;\n    }\n    \n    // CRITICAL: Only preserve the screenshot image for C2. \n    // Purge the audio file to restore the default text JSON view.\n    if (webhookNode.binary && webhookNode.binary.image) {\n      outBinary.image = webhookNode.binary.image;\n    }\n  }\n} catch (e) {}\n\n// 2. Extract transcription from the STT node (only if it executed)\ntry {\n  const incomingData = $input.first();\n  // Ensure we are reading the active STT output, not a bypassed webhook body\n  if (incomingData && incomingData.json && incomingData.json.text && !incomingData.json.body) {\n    textFromSTT = incomingData.json.text;\n  }\n} catch (e) {}\n\nconst combinedText = `${textFromWebhook} ${textFromSTT}`.trim();\n\n// 3. Structure the sanitized payload for downstream routers\nconst outJson = {\n  user_id: userId,\n  text: combinedText || \"Visual Request\"\n};\n\nreturn [{ json: outJson, binary: outBinary }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        1632
      ],
      "id": "cc1d4bc2-78a8-43e3-98d2-83acb787956e",
      "name": "Aggregate Data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/audio/transcriptions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "whisper-large-v3-turbo"
            },
            {
              "name": "language",
              "value": "es"
            },
            {
              "parameterType": "formBinaryData",
              "name": "=file",
              "inputDataFieldName": "audio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -416,
        1616
      ],
      "id": "ed58cd8e-e2af-49c7-86d1-28919d698741",
      "name": "HTTP Request (STT)",
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "wLNGcUvykTo5GOnn",
          "name": "Multiple Headers Auth account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Classify the following user input: {{ $json.text }}",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {
          "systemMessage": "You are the central intent router for FamilIA. Your sole responsibility is to analyze the provided user text, audio transcripts, AND any uploaded images/screenshots to determine the financial or operational category requested by the elderly user.\n\nStrictly classify the intent into one of the following four domains under the \"category\" key:\n- DOCUMENT: Inquiries about physical bank letters, contractual changes, screenshots of documents, or printed fee notices.\n- INTERFACE: Navigation issues inside the banking app, confusion about which button to press, screenshots showing UI confusion, or UI queries.\n- SCAM: Reports of suspicious calls, alarming SMS, coercion, sense of urgency, emergency protocol activation, or screenshots of text scams.\n- MANAGEMENT: Balance checks, pension status, monthly expense reviews, or cash wallet annotations."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -16,
        1632
      ],
      "id": "9b464e15-d522-4157-92b1-569713a1e3b1",
      "name": "Router AI Agent"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"category\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"enum\": [\"DOCUMENT\", \"INTERFACE\", \"SCAM\", \"MANAGEMENT\"]\n\t\t}\n\t},\n\t\"required\": [\"category\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        160,
        1984
      ],
      "id": "676b1825-e7a3-4e1f-b460-79d9a970ab18",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.category }}",
                    "rightValue": "DOCUMENT",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "document"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.category }}",
                    "rightValue": "INTERFACE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "interface"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.category }}",
                    "rightValue": "MANAGEMENT",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "management"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.category }}",
                    "rightValue": "SCAM",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "scam"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        320,
        1696
      ],
      "id": "2def5a55-6c01-4137-bd65-99ece1025f38",
      "name": "Switch Intents"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $binary && $binary.audio ? true : false }}",
              "value2": true
            }
          ]
        }
      },
      "id": "c02055d2-50de-4bbb-baaf-82f0f833135d",
      "name": "Audio file?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -576,
        1824
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -96,
        2000
      ],
      "id": "fdc13425-fb0c-4526-811f-f232b651c5b2",
      "name": "Gemini 3.1 Flash Lite",
      "credentials": {
        "googlePalmApi": {
          "id": "6gsgL86eJ7F1cTAX",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        32,
        2000
      ],
      "id": "20fc462d-9d60-45f4-895d-6e98a4f804b6",
      "name": "Gemini 2.5 Flash Lite",
      "credentials": {
        "googlePalmApi": {
          "id": "6gsgL86eJ7F1cTAX",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const agg = $('Aggregate Data').first();\nreturn [{\n  json: {\n    user_id: agg.json.user_id,\n    text: agg.json.text\n  },\n  binary: agg.binary || {}\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        1520
      ],
      "id": "040c3ef4-1b8c-4fb1-915a-496f4550f1aa",
      "name": "Prepare Document Payload"
    },
    {
      "parameters": {
        "jsCode": "const agg = $('Aggregate Data').first();\nreturn [{\n  json: {\n    user_id: agg.json.user_id,\n    text: agg.json.text\n  },\n  binary: agg.binary || {}\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        1648
      ],
      "id": "8e05a119-b428-4145-b8d4-6614a35b0221",
      "name": "Prepare Interface Payload"
    },
    {
      "parameters": {
        "jsCode": "const agg = $('Aggregate Data').first();\nreturn [{\n  json: {\n    user_id: agg.json.user_id,\n    text: agg.json.text\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        1856
      ],
      "id": "9f5ccaa0-ba9f-4d0b-a947-80f4b76443e2",
      "name": "Prepare Management Payload"
    },
    {
      "parameters": {
        "jsCode": "const agg = $('Aggregate Data').first();\nreturn [{\n  json: {\n    user_id: agg.json.user_id,\n    text: agg.json.text\n  },\n  binary: agg.binary || {}\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        2032
      ],
      "id": "a1d21e31-80e2-4438-a2a8-9add74aaa6ac",
      "name": "Prepare Scam Payload (Voice and Text)"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qY3XsgMkJYvOh0yo",
          "mode": "list",
          "cachedResultUrl": "/workflow/qY3XsgMkJYvOh0yo",
          "cachedResultName": "Scam"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1312,
        1888
      ],
      "id": "2f54f4e2-0b02-4157-97b7-a5b14afb7d21",
      "name": "Call 'Scam'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "OWJWiKmASySFf41z",
          "mode": "list",
          "cachedResultUrl": "/workflow/OWJWiKmASySFf41z",
          "cachedResultName": "Management"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "U001",
            "text": "¿Me ha llegado la pensión?"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1296,
        1744
      ],
      "id": "9945623f-1433-42c4-8a39-73220aa3d230",
      "name": "Call 'Management'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "oeDjuaP0lQKdJgdn",
          "mode": "list",
          "cachedResultUrl": "/workflow/oeDjuaP0lQKdJgdn",
          "cachedResultName": "Document Analysis"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1312,
        1392
      ],
      "id": "29f85310-356a-407c-9da2-0e0a41e197e7",
      "name": "Call 'Document Analysis'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "1VAnz1DxuAo1kTpo",
          "mode": "id",
          "cachedResultUrl": "/workflow/1VAnz1DxuAo1kTpo"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1296,
        1568
      ],
      "id": "01ca70f5-9cbd-4302-92ca-c706e74762f2",
      "name": "Call 'Interface'"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Audio file?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Data": {
      "main": [
        [
          {
            "node": "Router AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request (STT)": {
      "main": [
        [
          {
            "node": "Aggregate Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router AI Agent": {
      "main": [
        [
          {
            "node": "Switch Intents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Router AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Switch Intents": {
      "main": [
        [
          {
            "node": "Prepare Document Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Interface Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Management Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Scam Payload (Voice and Text)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio file?": {
      "main": [
        [
          {
            "node": "HTTP Request (STT)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 3.1 Flash Lite": {
      "ai_languageModel": [
        [
          {
            "node": "Router AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 2.5 Flash Lite": {
      "ai_languageModel": [
        [
          {
            "node": "Router AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Prepare Document Payload": {
      "main": [
        [
          {
            "node": "Call 'Document Analysis'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Interface Payload": {
      "main": [
        [
          {
            "node": "Call 'Interface'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Management Payload": {
      "main": [
        [
          {
            "node": "Call 'Management'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Scam Payload (Voice and Text)": {
      "main": [
        [
          {
            "node": "Call 'Scam'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7eca2c52f524e916128cc549fa93e46a6782d1578febc66989b43ed0d9c3629f"
  }
}